In [2]:
import pandas as pd
import requests

Here, we're loading in all the datasets we're going to use from the State of Washington Open Data API, using Report Card data.

In [97]:
url = 'https://data.wa.gov/resource/rxjk-6ieq.json?$limit=243167'

response = requests.get(url)
data = response.json()

school_demo_2014to2026 = pd.DataFrame(data)

In [101]:
school_demo_total_filtered = school_demo_2014to2026[school_demo_2014to2026['gradelevel']=="All Grades"]
school_demo_total_filtered = school_demo_total_filtered[school_demo_total_filtered['schoolname']!="District Total"]
school_demo_total_filtered

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,gradelevel,...,non_mobile,section_504,non_section_504,students_with_disabilities,students_without_disabilities,dataasof,dat,schoolcode,schoolorganizationid,currentschooltype
1133,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Scootney Springs Elementary,All Grades,...,594,3,612,82,533,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,3730,100335,P
1141,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Wahitis Elementary School,All Grades,...,463,0,480,56,424,2023-12-22T00:00:00.000,NaN,5285,105529,P
1148,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Desert Oasis High School,All Grades,...,61,2,72,2,72,2023-12-22T00:00:00.000,NaN,5367,105795,A
1153,2014-15,School,Asotin,Educational Service District 123,100007,02250,Clarkston School District,100045,Educational Opportunity Center,All Grades,...,109,4,144,31,117,2023-12-22T00:00:00.000,NaN,1617,100344,A
1159,2014-15,School,Asotin,Educational Service District 123,100007,02250,Clarkston School District,100045,Charles Francis Adams High School,All Grades,...,741,19,756,117,658,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,2299,100345,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243132,2025-26,School,Yakima,Educational Service District 105,100002,39208,West Valley School District (Yakima),100292,West Valley Innovation Center,All Grades,...,185,14,173,41,146,2025-11-24T00:00:00.000,NaN,5699,106771,P
243135,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,Mount Adams Middle School,All Grades,...,121,1,124,14,111,2025-11-24T00:00:00.000,NaN,2389,103297,P
243142,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,Harrah Elementary School,All Grades,...,405,0,418,51,367,2025-11-24T00:00:00.000,NaN,2506,103298,P
243149,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,White Swan High School,All Grades,...,253,3,253,44,212,2025-11-24T00:00:00.000,NaN,2532,103299,P
243162,2025-26,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,All Grades,...,1087920,54393,1041892,169080,927205,2025-11-24T00:00:00.000,NaN,NaN,NaN,NaN

Here, we're importing the testing data.

In [ ]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=6194470'

response = requests.get(url)
data = response.json()

school_test_2014to2021 = pd.DataFrame(data)

In [ ]:
url = 'https://data.wa.gov/resource/xh7m-utwp.json?$limit=782445'

response = requests.get(url)
data = response.json()

school_test_2022 = pd.DataFrame(data)

In [ ]:
url = 'https://data.wa.gov/resource/x73g-mrqp.json?$limit=761859'

response = requests.get(url)
data = response.json()

school_test_2023 = pd.DataFrame(data)

In [ ]:
url = 'https://data.wa.gov/resource/h5d9-vgwi.json?$limit=770128'

response = requests.get(url)
data = response.json()

school_test_2024 = pd.DataFrame(data)

Unfortunately, this data is formatted differently, so we will have to make some changes to column names to successfully concatenate them together.

In [ ]:
school_test_2014to2021.shape[1]
school_test_2014to2021.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'studentgrouptype',
       'studentgroup', 'gradelevel', 'testadministration', 'testsubject',
       'suppression', 'percentmetstandard', 'dataasof',
       'count_of_students_expected', 'countmetstandard',
       'count_of_students_expected_to_test_including_previously_passed',
       'percentlevel1', 'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percentmettestedonly', 'percent_no_score'],
      dtype='str')

In [ ]:
school_test_2014to2021

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolcode,schoolname,...,dataasof,count_of_students_expected,countmetstandard,count_of_students_expected_to_test_including_previously_passed,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percentmettestedonly,percent_no_score
0,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,376,219,376,0.1515957446808,0.2340425531914,0.3829787234042,0.1994680851063,0.6016483516483,0.031914893617
2,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,376,116,376,0.3430851063829,0.313829787234,0.2021276595744,0.1063829787234,0.3195592286501,0.0345744680851
3,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,124,51,124,0.2903225806451,0.2258064516129,0.2258064516129,0.1854838709677,0.4434782608695,0.0725806451612
4,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243162,2021-22,School,King,Puget Sound Educational Service District 121,100006,17405,Bellevue School District,100019,3339,Sherwood Forest Elementary,...,2022-09-09T00:00:00.000,53,24,53,0.2075471698113,0.2264150943396,0.2641509433962,0.188679245283,0.5106382978723,0.1132075471698
243163,2021-22,School,King,Puget Sound Educational Service District 121,100006,17405,Bellevue School District,100019,3339,Sherwood Forest Elementary,...,2022-09-09T00:00:00.000,15,7,15,0.1333333333333,0.4,0.1333333333333,0.3333333333333,0.4666666666666,0
243164,2021-22,School,King,Puget Sound Educational Service District 121,100006,17405,Bellevue School District,100019,3339,Sherwood Forest Elementary,...,2022-09-09T00:00:00.000,15,5,15,0.4,0.2666666666666,0.1333333333333,0.2,0.3333333333333,0
243165,2020-21,School,King,Puget Sound Educational Service District 121,100006,17405,Bellevue School District,100019,3339,Sherwood Forest Elementary,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,0.0144927536231,0.5579710144927,0.1304347826086,0,0.1855670103092,0.2971014492753
243166,2020-21,School,King,Puget Sound Educational Service District 121,100006,17405,Bellevue School District,100019,3339,Sherwood Forest Elementary,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
school_test_2022.shape[1]
school_test_2022.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [ ]:
school_test_2022

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
0,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
1,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
2,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
3,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
4,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243162,2022-23,School,Kitsap,Olympic Educational Service District 114,100005,18400,North Kitsap School District,100169,Poulsbo Elementary School,101702,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,2026,P
243163,2022-23,School,Kitsap,Olympic Educational Service District 114,100005,18400,North Kitsap School District,100169,Poulsbo Elementary School,101702,...,0.1785714285714,0.2232142857142,0.2410714285714,0.3303571428571,0.5871559633027,0.0267857142857,0.9732142857142,9/8/2023,2026,P
243164,2022-23,School,Kitsap,Olympic Educational Service District 114,100005,18400,North Kitsap School District,100169,Poulsbo Elementary School,101702,...,0.1898148148148,0.1990740740740,0.2175925925925,0.3657407407407,0.6000000000000,0.0277777777777,0.9722222222222,9/8/2023,2026,P
243165,2022-23,School,Kitsap,Olympic Educational Service District 114,100005,18400,North Kitsap School District,100169,Poulsbo Elementary School,101702,...,0.0400000000000,0.2400000000000,0.3200000000000,0.3600000000000,0.7083333333333,0.0400000000000,0.9600000000000,9/8/2023,2026,P
243166,2022-23,School,Kitsap,Olympic Educational Service District 114,100005,18400,North Kitsap School District,100169,Poulsbo Elementary School,101702,...,0.2135416666666,0.1927083333333,0.2031250000000,0.3645833333333,0.5828877005347,0.0260416666666,0.9739583333333,9/8/2023,2026,P

In [ ]:
school_test_2023.shape[1]
school_test_2023.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname', 'districtname',
       'schoolname', 'studentgrouptype', 'studentgroup', 'gradelevel',
       'test_administration_group', 'testadministration', 'testsubject', 'dat',
       'count_of_students_expected', 'count_of_students_expected_1',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_met_tested_only', 'percent_no_score', 'percent_participation',
       'percent_taking_alternative_assessment', 'count_foundational_grade',
       'percent_foundational_grade', 'dataasof', 'esdorganizationid',
       'districtcode', 'districtorganizationid', 'schoolcode',
       'schoolorganizationid', 'currentschooltype'],
      dtype='str')

In [ ]:
school_test_2023

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,studentgrouptype,studentgroup,gradelevel,test_administration_group,...,percent_taking_alternative_assessment,count_foundational_grade,percent_foundational_grade,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,589,67.80%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,730,84.00%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.011658,54409,71.20%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.011682,53459,70.10%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,04,AIM,...,1,606,72.40%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243162,2023-24,School,Snohomish,Northwest Educational Service District 189,Lake Stevens School District,Mt. Pilchuck Elementary School,Military,Military Parent,All Grades,SBAC,...,0,36,76.60%,1/24/2025,100009,31004,100126,2884,102473,P
243163,2023-24,School,Snohomish,Northwest Educational Service District 189,Lake Stevens School District,Mt. Pilchuck Elementary School,Military,Military Parent,All Grades,WCAS,...,0,NaN,85.70%,1/24/2025,100009,31004,100126,2884,102473,P
243164,2023-24,School,Snohomish,Northwest Educational Service District 189,Lake Stevens School District,Mt. Pilchuck Elementary School,Military,Non Military Parent,03,AIM,...,NaN,NaN,N<10,1/24/2025,100009,31004,100126,2884,102473,P
243165,2023-24,School,Snohomish,Northwest Educational Service District 189,Lake Stevens School District,Mt. Pilchuck Elementary School,Race,Black/ African American,05,AIM,...,NaN,NaN,N<10,1/24/2025,100009,31004,100126,2884,102473,P
243166,2023-24,School,Snohomish,Northwest Educational Service District 189,Lake Stevens School District,Mt. Pilchuck Elementary School,Military,Non Military Parent,03,SBAC,...,0.05,44,73.30%,1/24/2025,100009,31004,100126,2884,102473,P

In [ ]:
school_test_2024.shape[1]
school_test_2024.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname', 'districtname',
       'schoolname', 'studentgrouptype', 'studentgroup', 'gradelevel',
       'test_administration_group', 'testadministration', 'testsubject', 'dat',
       'count_of_students_expected', 'count_of_students_expected_1',
       'count_consistent_grade_level', 'percent_consistent_grade',
       'percentlevel1', 'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested', 'percent_no_score',
       'percent_participation', 'percent_taking_alternative',
       'count_foundational_grade', 'percent_foundational_grade', 'dataasof',
       'esdorganizationid', 'districtcode', 'districtorganizationid',
       'schoolcode', 'schoolorganizationid', 'currentschooltype'],
      dtype='str')

In [ ]:
school_test_2024

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,studentgrouptype,studentgroup,gradelevel,test_administration_group,...,percent_taking_alternative,count_foundational_grade,percent_foundational_grade,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,837,82.3%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.012821,57667,71.1%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,678,67.0%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.012799,56618,69.9%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,04,AIM,...,1,612,70.1%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243162,2024-25,School,Skagit,Northwest Educational Service District 189,La Conner School District,La Conner High School,Migrant,Non Migrant,10,SBAC,...,0,NaN,36.0%,2025-09-03,100009,29311,100123,2276,102399,P
243163,2024-25,School,Skagit,Northwest Educational Service District 189,La Conner School District,La Conner High School,Migrant,Non Migrant,11,WCAS,...,0,14,46.7%,2025-09-03,100009,29311,100123,2276,102399,P
243164,2024-25,School,Skagit,Northwest Educational Service District 189,La Conner School District,La Conner High School,Migrant,Non Migrant,All Grades,SBAC,...,0,14,56.0%,2025-09-03,100009,29311,100123,2276,102399,P
243165,2024-25,School,Skagit,Northwest Educational Service District 189,La Conner School District,La Conner High School,Migrant,Non Migrant,All Grades,SBAC,...,0,NaN,36.0%,2025-09-03,100009,29311,100123,2276,102399,P
243166,2024-25,School,Skagit,Northwest Educational Service District 189,La Conner School District,La Conner High School,Migrant,Non Migrant,All Grades,WCAS,...,0,14,46.7%,2025-09-03,100009,29311,100123,2276,102399,P