In [2]:
import pandas as pd
import requests
import numpy as np

Here, we're loading in all the datasets we're going to use from the State of Washington Open Data API, using Report Card data.

In [3]:
url = 'https://data.wa.gov/resource/rxjk-6ieq.json?$limit=243167'

response = requests.get(url)
data = response.json()

school_demo_2014to2026 = pd.DataFrame(data)

In [4]:
school_demo_total_filtered = school_demo_2014to2026[school_demo_2014to2026['gradelevel']=="All Grades"]
school_demo_total_filtered = school_demo_total_filtered[school_demo_total_filtered['schoolname']=="District Total"]
school_demo_total_filtered

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,gradelevel,...,non_mobile,section_504,non_section_504,students_with_disabilities,students_without_disabilities,dataasof,dat,schoolcode,schoolorganizationid,currentschooltype
12,2014-15,District,Adams,Educational Service District 101,100001,01109,Washtucna School District,100287,District Total,All Grades,...,43,0,51,14,37,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
21,2014-15,District,Adams,Educational Service District 101,100001,01122,Benge School District,100021,District Total,All Grades,...,14,0,14,1,13,2023-12-22T00:00:00.000,NaN,NaN,NaN,NaN
35,2014-15,District,Adams,Educational Service District 101,100001,01158,Lind School District,100131,District Total,All Grades,...,200,4,204,26,182,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
50,2014-15,District,Adams,Educational Service District 101,100001,01160,Ritzville School District,100220,District Total,All Grades,...,364,7,377,38,346,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
65,2014-15,District,Adams,Educational Service District 123,100007,01147,Othello School District,100192,District Total,All Grades,...,4052,63,4137,539,3661,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231897,2025-26,District,Yakima,Educational Service District 105,100002,39204,Granger School District,100097,District Total,All Grades,...,1394,24,1386,209,1201,2025-11-24T00:00:00.000,NaN,NaN,NaN,NaN
231912,2025-26,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,All Grades,...,1320,18,1315,149,1184,2025-11-24T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
231928,2025-26,District,Yakima,Educational Service District 105,100002,39207,Wapato School District,100284,District Total,All Grades,...,3047,38,3059,431,2666,2025-11-24T00:00:00.000,DAT Applied: Foster Care - N < 10,NaN,NaN,NaN
231944,2025-26,District,Yakima,Educational Service District 105,100002,39208,West Valley School District (Yakima),100292,District Total,All Grades,...,5510,233,5327,835,4725,2025-11-24T00:00:00.000,NaN,NaN,NaN,NaN
231960,2025-26,District,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,District Total,All Grades,...,779,4,795,109,690,2025-11-24T00:00:00.000,NaN,NaN,NaN,NaN

Here, we're importing the testing data.

In [5]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_1 = pd.DataFrame(data)

In [6]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=1000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_2 = pd.DataFrame(data)

In [7]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=500000&$offset=2000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_2_5 = pd.DataFrame(data)

In [8]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=500000&$offset=2500000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_3 = pd.DataFrame(data)

In [9]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=3000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_4 = pd.DataFrame(data)

In [10]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=4000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_5 = pd.DataFrame(data)

In [11]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=5000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_6 = pd.DataFrame(data)

In [12]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=6000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_7 = pd.DataFrame(data)

In [13]:
school_test_2014to2021 = pd.concat([school_test_2014to2021_1, school_test_2014to2021_2, school_test_2014to2021_2_5, school_test_2014to2021_3, 
                                    school_test_2014to2021_4, school_test_2014to2021_5, school_test_2014to2021_6, school_test_2014to2021_7])

In [14]:
url = 'https://data.wa.gov/resource/xh7m-utwp.json?$limit=782445'

response = requests.get(url)
data = response.json()

school_test_2022 = pd.DataFrame(data)

In [15]:
url = 'https://data.wa.gov/resource/x73g-mrqp.json?$limit=761859'

response = requests.get(url)
data = response.json()

school_test_2023 = pd.DataFrame(data)

In [16]:
url = 'https://data.wa.gov/resource/h5d9-vgwi.json?$limit=770128'

response = requests.get(url)
data = response.json()

school_test_2024 = pd.DataFrame(data)

Unfortunately, this data is formatted differently, so we will have to make some changes to column names to successfully concatenate them together.

In [17]:
school_test_2014to2021 = school_test_2014to2021.rename(columns={
    "percentmetstandard": "percent_consistent_grade_level_knowledge_and_above",
    "countmetstandard": "count_consistent_grade_level_knowledge_and_above",
    "percentmettestedonly": "percent_consistent_tested_only",
    "suppression": "dat"
})

school_test_2014to2021 = school_test_2014to2021[school_test_2014to2021['gradelevel']=='All Grades']
school_test_2014to2021 = school_test_2014to2021[school_test_2014to2021['schoolname']=='District Total']

school_test_2014to2021["percentparticipation"] = np.nan
school_test_2014to2021["count_foundational_grade_level_knowledge_and_above"] = np.nan
school_test_2014to2021["percent_foundational_grade_level_knowledge_and_above"] = np.nan
school_test_2014to2021["test_administration_group"] = np.nan

school_test_2014to2021 = school_test_2014to2021.reindex(columns=school_test_2022.columns)

In [18]:
school_test_2014to2021.shape[1]
school_test_2014to2021.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [19]:
school_test_2014to2021

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
317,2021-22,District,Thurston,Capital Region ESD 113,100004,34002,Yelm School District,100304,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
465,2015-16,District,Thurston,Capital Region ESD 113,100004,34002,Yelm School District,100304,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
16707,2015-16,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,0,0,0.2,0.2,1,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
16821,2014-15,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
17097,2014-15,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194460,2015-16,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.1455399061032,0.2879499217527,0.2159624413145,0.2159624413145,0.4990958408679,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
194461,2014-15,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.0454545454545,0.4242424242424,0.2727272727272,0.1060606060606,0.4464285714285,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
194462,2014-15,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.1155778894472,0.2562814070351,0.3969849246231,0.2211055276381,0.6243654822335,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
194463,2014-15,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.1689497716894,0.2998477929984,0.3683409436834,0.1415525114155,0.5209953343701,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
194464,2014-15,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.2301829268292,0.3201219512195,0.2820121951219,0.1295731707317,0.4278922345483,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN

In [20]:
school_test_2022.shape[1]
school_test_2022.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [21]:
school_test_2022

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
0,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
1,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
2,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
3,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
4,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782440,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782441,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782442,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782443,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782444,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN

In [22]:
school_test_2023 = school_test_2023.rename(columns={
    "count_of_students_expected_1": "count_of_students_expected_to_test_including_previously_passed",
    "percent_met_tested_only": "percent_consistent_tested_only",
    "percent_no_score": "percentnoscore",
    "percent_participation": "percentparticipation",
    "count_foundational_grade": "count_foundational_grade_level_knowledge_and_above",
    "percent_foundational_grade": "percent_foundational_grade_level_knowledge_and_above"
})

school_test_2023 = school_test_2023.reindex(columns=school_test_2022.columns)

In [23]:
school_test_2023.shape[1]
school_test_2023.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [24]:
school_test_2023

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
0,2023-24,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.322209436,0.326812428,0.238204833,0.112773303,0.350978136,0,1,1/24/2025,NaN,NaN
1,2023-24,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.158803222,0.515535098,0.20023015,0.124280783,0.324884793,0.001150748,0.998849252,1/24/2025,NaN,NaN
2,2023-24,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.262053274,0.200384449,0.256391145,0.254704275,0.524990262,0.026466858,0.973533142,1/24/2025,NaN,NaN
3,2023-24,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.274223562,0.223968025,0.209592452,0.266976805,0.488908905,0.025239156,0.97474807,1/24/2025,NaN,NaN
4,2023-24,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.275985663,0.434886499,0.222222222,0.066905615,0.289127838,0,1,1/24/2025,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761854,2023-24,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/24/2025,NaN,NaN
761855,2023-24,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/24/2025,NaN,NaN
761856,2023-24,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.35,0.25,0.2,0.15,0.368421053,0.05,0.95,1/24/2025,NaN,NaN
761857,2023-24,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.307692308,0.307692308,0.384615385,0,0.384615385,0,1,1/24/2025,NaN,NaN
761858,2023-24,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.3,0.35,0.25,0.05,0.315789474,0.05,0.95,1/24/2025,NaN,NaN

In [25]:
school_test_2024 = school_test_2024.rename(columns={
    "count_of_students_expected_1": "count_of_students_expected_to_test_including_previously_passed",
    "count_consistent_grade_level": "count_consistent_grade_level_knowledge_and_above",
    "percent_consistent_grade": "percent_consistent_grade_level_knowledge_and_above",
    "percent_consistent_tested": "percent_consistent_tested_only",
    "percent_no_score": "percentnoscore",
    "percent_participation": "percentparticipation",
    "percent_taking_alternative": "percent_taking_alternative_assessment",
    "count_foundational_grade": "count_foundational_grade_level_knowledge_and_above",
    "percent_foundational_grade": "percent_foundational_grade_level_knowledge_and_above"
})

school_test_2024 = school_test_2024.reindex(columns=school_test_2022.columns)

In [26]:
school_test_2024.shape[1]
school_test_2024.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [27]:
school_test_2024

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
0,2024-25,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.1730580137659,0.5113077679449,0.2153392330383,0.0963618485742,0.3129318854886,0.0039331366764,0.9960668633235,2025-09-03,NaN,NaN
1,2024-25,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.2632825510392,0.1996916055017,0.2578424720902,0.2538333436131,0.5249841792178,0.0253500277555,0.9746499722444,2025-09-03,NaN,NaN
2,2024-25,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.3290513833992,0.3310276679841,0.2608695652173,0.0780632411067,0.3392680514342,0.0009881422924,0.9990118577075,2025-09-03,NaN,NaN
3,2024-25,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.2763660172705,0.2218365103092,0.2063819536239,0.2712268521378,0.4894478978085,0.0241886666584,0.9758113333415,2025-09-03,NaN,NaN
4,2024-25,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,NaN,...,0.2978235967926,0.3906071019473,0.2371134020618,0.0733104238258,0.3107798165137,0.0011454753722,0.9988545246277,2025-09-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770123,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770124,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770125,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770126,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770127,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN

In [28]:
school_test_total = pd.concat([school_test_2014to2021, school_test_2022, school_test_2023, school_test_2024])

In [29]:
school_test_total = school_test_total[school_test_total['gradelevel'] == 'All Grades']
school_test_total = school_test_total[school_test_total['schoolname'] == 'District Total']

school_test_total

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
317,2021-22,District,Thurston,Capital Region ESD 113,100004,34002,Yelm School District,100304,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
465,2015-16,District,Thurston,Capital Region ESD 113,100004,34002,Yelm School District,100304,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
16707,2015-16,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,0,0,0.2,0.2,1,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
16821,2014-15,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
17097,2014-15,District,Ferry,Educational Service District 101,100001,10309,Republic School District,100217,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-09T00:00:00.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770118,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.2645739910313,0.2929745889387,0.2451420029895,0.1808669656203,0.4331306990881,0.01644245142,0.9835575485799,2025-09-03,NaN,NaN
770119,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,0.3003533568904,0.3003533568904,0.3144876325088,0.0706713780918,0.3906810035842,0.0141342756183,0.9858657243816,2025-09-03,NaN,NaN
770125,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770126,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN
770127,2024-25,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,District Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-03,NaN,NaN

Finally, we merge the two datasets together with a leftjoin on school year and districtorganizationid.

In [30]:
school_data = pd.merge(school_test_total, school_demo_total_filtered, how="left", on=['schoolyear', 'districtorganizationid'])

In [31]:
school_data.columns

Index(['schoolyear', 'organizationlevel_x', 'county_x', 'esdname_x',
       'esdorganizationid_x', 'districtcode_x', 'districtname_x',
       'districtorganizationid', 'schoolname_x', 'schoolorganizationid_x',
       'studentgrouptype', 'studentgroup', 'gradelevel_x',
       'testadministration', 'testsubject', 'dat_x',
       'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof_x', 'schoolcode_x',
       'currentschooltype_x', 'organizationlevel_y', 'county_y', 'esdname_y',
       'esdorganizationid_y', 'districtcode_y', 'districtname_y',
       'schoolname_y', 'gradelevel_y', 'all_students', 'female', 'male',
       'gender_x', 'american_indian_alaskan_native', 'asian',
       'black_african_american', 'hispanic_latino_of_any_race',
       'native_hawaiian_pacific_islander', 'two_or_more_races', 'white',
       'english_language_learners', 'non_english_language_learners',
       'fostercare', 'non_fostercare', 'highly_capable', 'non_highly_capable',
       'homeless', 'non_homeless', 'low_income', 'non_low_income', 'migrant',
       'non_migrant', 'military_parent', 'non_military_parent', 'mobile',
       'non_mobile', 'section_504', 'non_section_504',
       'students_with_disabilities', 'students_without_disabilities',
       'dataasof_y', 'dat_y', 'schoolcode_y', 'schoolorganizationid_y',
       'currentschooltype_y'],
      dtype='str')

In [32]:
school_data = school_data.rename(columns={
    'organizationlevel_x': 'organizationlevel',
    'county_x': 'county',
    'esdname_x': 'esdname',
    'esdorganizationid_x': 'esdorganizationid',
    'districtcode_x': 'districtcode',
    'districtname_x': 'districtname',
    'schoolname_x': 'schoolname',
    'gradelevel_x': 'gradelevel',
    'dat_x': 'dat',
    'dataasof_x': 'dataasof',
    'schoolcode_x': 'schoolcode',
    'currentschooltype_x': 'currentschooltype'
})

In [33]:
columns_to_drop = [
    'organizationlevel_y', 'county_y', 'esdname_y', 'esdorganizationid_y',
    'districtcode_y', 'districtname_y', 'schoolname_y', 'gradelevel_y',
    'dataasof_y', 'dat_y', 'schoolcode_y', 'schoolorganizationid_y',
    'currentschooltype_y'
]

school_data = school_data.drop(columns=columns_to_drop)

In [34]:
school_data.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid_x',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype',
       'all_students', 'female', 'male', 'gender_x',
       'american_indian_alaskan_native', 'asian', 'black_african_american',
       'hispanic_latino_of_any_race', 'native_hawaiian_pacific_islander',
       'two_or_more_races', 'white', 'english_language_learners',
       'non_english_language_learners', 'fostercare', 'non_fostercare',
       'highly_capable', 'non_highly_capable', 'homeless', 'non_homeless',
       'low_income', 'non_low_income', 'migrant', 'non_migrant',
       'military_parent', 'non_military_parent', 'mobile', 'non_mobile',
       'section_504', 'non_section_504', 'students_with_disabilities',
       'students_without_disabilities'],
      dtype='str')

In [39]:
part_size = len(school_data) // 6

school_data_1 = school_data.iloc[:part_size]
school_data_2 = school_data.iloc[part_size:2*part_size]
school_data_3 = school_data.iloc[2*part_size:3*part_size]
school_data_4 = school_data.iloc[3*part_size:4*part_size]
school_data_5 = school_data.iloc[4*part_size:5*part_size]
school_data_6 = school_data.iloc[5*part_size:]

school_data_1.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part1.csv", index=False)
school_data_2.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part2.csv", index=False)
school_data_3.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part3.csv", index=False)
school_data_4.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part4.csv", index=False)
school_data_5.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part5.csv", index=False)
school_data_6.to_csv("/Users/jamil/Coding/washington_education/Washington_School_Demographic_and_Testing_Data_part6.csv", index=False)