In [2]:
import pandas as pd
import requests

Here, we're loading in all the datasets we're going to use from the State of Washington Open Data API, using Report Card data.

In [97]:
url = 'https://data.wa.gov/resource/rxjk-6ieq.json?$limit=243167'

response = requests.get(url)
data = response.json()

school_demo_2014to2026 = pd.DataFrame(data)

In [101]:
school_demo_total_filtered = school_demo_2014to2026[school_demo_2014to2026['gradelevel']=="All Grades"]
school_demo_total_filtered = school_demo_total_filtered[school_demo_total_filtered['schoolname']!="District Total"]
school_demo_total_filtered

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,gradelevel,...,non_mobile,section_504,non_section_504,students_with_disabilities,students_without_disabilities,dataasof,dat,schoolcode,schoolorganizationid,currentschooltype
1133,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Scootney Springs Elementary,All Grades,...,594,3,612,82,533,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,3730,100335,P
1141,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Wahitis Elementary School,All Grades,...,463,0,480,56,424,2023-12-22T00:00:00.000,NaN,5285,105529,P
1148,2014-15,School,Adams,Educational Service District 123,100007,01147,Othello School District,100192,Desert Oasis High School,All Grades,...,61,2,72,2,72,2023-12-22T00:00:00.000,NaN,5367,105795,A
1153,2014-15,School,Asotin,Educational Service District 123,100007,02250,Clarkston School District,100045,Educational Opportunity Center,All Grades,...,109,4,144,31,117,2023-12-22T00:00:00.000,NaN,1617,100344,A
1159,2014-15,School,Asotin,Educational Service District 123,100007,02250,Clarkston School District,100045,Charles Francis Adams High School,All Grades,...,741,19,756,117,658,2023-12-22T00:00:00.000,DAT Applied: Foster Care - N < 10,2299,100345,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243132,2025-26,School,Yakima,Educational Service District 105,100002,39208,West Valley School District (Yakima),100292,West Valley Innovation Center,All Grades,...,185,14,173,41,146,2025-11-24T00:00:00.000,NaN,5699,106771,P
243135,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,Mount Adams Middle School,All Grades,...,121,1,124,14,111,2025-11-24T00:00:00.000,NaN,2389,103297,P
243142,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,Harrah Elementary School,All Grades,...,405,0,418,51,367,2025-11-24T00:00:00.000,NaN,2506,103298,P
243149,2025-26,School,Yakima,Educational Service District 105,100002,39209,Mount Adams School District,100155,White Swan High School,All Grades,...,253,3,253,44,212,2025-11-24T00:00:00.000,NaN,2532,103299,P
243162,2025-26,State,Multiple,State Total,NaN,NaN,State Total,NaN,State Total,All Grades,...,1087920,54393,1041892,169080,927205,2025-11-24T00:00:00.000,NaN,NaN,NaN,NaN

Here, we're importing the testing data.

In [4]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_1 = pd.DataFrame(data)

In [5]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=1000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_2 = pd.DataFrame(data)

In [6]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=500000&$offset=2000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_2_5 = pd.DataFrame(data)

In [7]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=500000&$offset=2500000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_3 = pd.DataFrame(data)

In [8]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=3000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_4 = pd.DataFrame(data)

In [9]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=4000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_5 = pd.DataFrame(data)

In [10]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=5000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_6 = pd.DataFrame(data)

In [11]:
url = 'https://data.wa.gov/resource/292v-tb9r.json?$limit=1000000&$offset=6000000'

response = requests.get(url)
data = response.json()

school_test_2014to2021_7 = pd.DataFrame(data)

In [12]:
school_test_2014to2021 = pd.concat([school_test_2014to2021_1, school_test_2014to2021_2, school_test_2014to2021_2_5, school_test_2014to2021_3, 
                                    school_test_2014to2021_4, school_test_2014to2021_5, school_test_2014to2021_6, school_test_2014to2021_7])

In [15]:
url = 'https://data.wa.gov/resource/xh7m-utwp.json?$limit=782445'

response = requests.get(url)
data = response.json()

school_test_2022 = pd.DataFrame(data)

In [16]:
url = 'https://data.wa.gov/resource/x73g-mrqp.json?$limit=761859'

response = requests.get(url)
data = response.json()

school_test_2023 = pd.DataFrame(data)

In [17]:
url = 'https://data.wa.gov/resource/h5d9-vgwi.json?$limit=770128'

response = requests.get(url)
data = response.json()

school_test_2024 = pd.DataFrame(data)

Unfortunately, this data is formatted differently, so we will have to make some changes to column names to successfully concatenate them together.

In [13]:
school_test_2014to2021.shape[1]
school_test_2014to2021.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolcode', 'schoolname',
       'schoolorganizationid', 'currentschooltype', 'studentgrouptype',
       'studentgroup', 'gradelevel', 'testadministration', 'testsubject',
       'suppression', 'percentmetstandard', 'dataasof',
       'count_of_students_expected', 'countmetstandard',
       'count_of_students_expected_to_test_including_previously_passed',
       'percentlevel1', 'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percentmettestedonly', 'percent_no_score'],
      dtype='str')

In [14]:
school_test_2014to2021

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolcode,schoolname,...,dataasof,count_of_students_expected,countmetstandard,count_of_students_expected_to_test_including_previously_passed,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percentmettestedonly,percent_no_score
0,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,376,219,376,0.1515957446808,0.2340425531914,0.3829787234042,0.1994680851063,0.6016483516483,0.031914893617
2,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,376,116,376,0.3430851063829,0.313829787234,0.2021276595744,0.1063829787234,0.3195592286501,0.0345744680851
3,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,124,51,124,0.2903225806451,0.2258064516129,0.2258064516129,0.1854838709677,0.4434782608695,0.0725806451612
4,2021-22,School,Snohomish,Northwest Educational Service District 189,100009,31016,Arlington School District,100014,5010,Haller Middle School,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194465,2020-21,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,NaN,District Total,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194466,2018-19,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,NaN,District Total,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194467,2017-18,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,NaN,District Total,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194468,2016-17,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,NaN,District Total,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194469,2015-16,District,Yakima,Educational Service District 105,100002,39205,Zillah School District,100305,NaN,District Total,...,2022-09-09T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
school_test_2022.shape[1]
school_test_2022.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname',
       'esdorganizationid', 'districtcode', 'districtname',
       'districtorganizationid', 'schoolname', 'schoolorganizationid',
       'studentgrouptype', 'studentgroup', 'gradelevel', 'testadministration',
       'testsubject', 'dat', 'count_of_students_expected',
       'count_of_students_expected_to_test_including_previously_passed',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested_only', 'percentnoscore',
       'percentparticipation', 'dataasof', 'schoolcode', 'currentschooltype'],
      dtype='str')

In [19]:
school_test_2022

,schoolyear,organizationlevel,county,esdname,esdorganizationid,districtcode,districtname,districtorganizationid,schoolname,schoolorganizationid,...,percentlevel1,percentlevel2,percentlevel3,percentlevel4,percent_consistent_tested_only,percentnoscore,percentparticipation,dataasof,schoolcode,currentschooltype
0,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
1,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
2,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
3,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
4,2022-23,District,Spokane,NULL,NULL,32801,ESD 101 acting as a school district,100001,District Total,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,9/8/2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782440,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782441,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782442,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782443,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN
782444,2022-23,State,Multiple,State Total,NULL,NaN,State Total,NULL,State Total,NULL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-27 15:04:41.483,NaN,NaN

In [20]:
school_test_2023.shape[1]
school_test_2023.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname', 'districtname',
       'schoolname', 'studentgrouptype', 'studentgroup', 'gradelevel',
       'test_administration_group', 'testadministration', 'testsubject', 'dat',
       'count_of_students_expected', 'count_of_students_expected_1',
       'count_consistent_grade_level_knowledge_and_above',
       'percent_consistent_grade_level_knowledge_and_above', 'percentlevel1',
       'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_met_tested_only', 'percent_no_score', 'percent_participation',
       'percent_taking_alternative_assessment', 'count_foundational_grade',
       'percent_foundational_grade', 'dataasof', 'esdorganizationid',
       'districtcode', 'districtorganizationid', 'schoolcode',
       'schoolorganizationid', 'currentschooltype'],
      dtype='str')

In [21]:
school_test_2023

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,studentgrouptype,studentgroup,gradelevel,test_administration_group,...,percent_taking_alternative_assessment,count_foundational_grade,percent_foundational_grade,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,589,67.80%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,730,84.00%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.011658,54409,71.20%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.011682,53459,70.10%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-24,State,Multiple,State Total,State Total,State Total,All,All Students,04,AIM,...,1,606,72.40%,1/24/2025,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761854,2023-24,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,10,SBAC,...,NaN,NaN,N<10,1/24/2025,100002,39205,100305,NaN,NaN,NaN
761855,2023-24,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,11,WCAS,...,NaN,NaN,N<10,1/24/2025,100002,39205,100305,NaN,NaN,NaN
761856,2023-24,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,SBAC,...,0,12,60.00%,1/24/2025,100002,39205,100305,NaN,NaN,NaN
761857,2023-24,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,WCAS,...,0,9,69.20%,1/24/2025,100002,39205,100305,NaN,NaN,NaN
761858,2023-24,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,SBAC,...,0,13,65.00%,1/24/2025,100002,39205,100305,NaN,NaN,NaN

In [22]:
school_test_2024.shape[1]
school_test_2024.columns

Index(['schoolyear', 'organizationlevel', 'county', 'esdname', 'districtname',
       'schoolname', 'studentgrouptype', 'studentgroup', 'gradelevel',
       'test_administration_group', 'testadministration', 'testsubject', 'dat',
       'count_of_students_expected', 'count_of_students_expected_1',
       'count_consistent_grade_level', 'percent_consistent_grade',
       'percentlevel1', 'percentlevel2', 'percentlevel3', 'percentlevel4',
       'percent_consistent_tested', 'percent_no_score',
       'percent_participation', 'percent_taking_alternative',
       'count_foundational_grade', 'percent_foundational_grade', 'dataasof',
       'esdorganizationid', 'districtcode', 'districtorganizationid',
       'schoolcode', 'schoolorganizationid', 'currentschooltype'],
      dtype='str')

In [23]:
school_test_2024

,schoolyear,organizationlevel,county,esdname,districtname,schoolname,studentgrouptype,studentgroup,gradelevel,test_administration_group,...,percent_taking_alternative,count_foundational_grade,percent_foundational_grade,dataasof,esdorganizationid,districtcode,districtorganizationid,schoolcode,schoolorganizationid,currentschooltype
0,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,837,82.3%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.012821,57667,71.1%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,AIM,...,1,678,67.0%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,03,SBAC,...,0.012799,56618,69.9%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-25,State,Multiple,State Total,State Total,State Total,All,All Students,04,AIM,...,1,612,70.1%,2025-09-03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770123,2024-25,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,05,SBAC,...,NaN,NaN,N<10,2025-09-03,100002,39205,100305,NaN,NaN,NaN
770124,2024-25,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,05,WCAS,...,NaN,NaN,N<10,2025-09-03,100002,39205,100305,NaN,NaN,NaN
770125,2024-25,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,SBAC,...,NaN,NaN,N<10,2025-09-03,100002,39205,100305,NaN,NaN,NaN
770126,2024-25,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,WCAS,...,NaN,NaN,N<10,2025-09-03,100002,39205,100305,NaN,NaN,NaN
770127,2024-25,District,Yakima,Educational Service District 105,Zillah School District,District Total,s504,Section 504,All Grades,SBAC,...,NaN,NaN,N<10,2025-09-03,100002,39205,100305,NaN,NaN,NaN